<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Time Table</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-auto style="background: #32db64;" [style.width]="dayPercent">done</ion-col>
      <ion-col style="background: #f4f4f4">upcoming</ion-col>
    </ion-row>
  </ion-grid>

  <ion-card-accordion color="#376BCA" title="Days" list="daysList" expanded="true">
    <ion-list>
      <ion-grid>
        <ion-row *ngFor="let item of daysList; let i = index">
          <ion-col col-12>
            <ion-card-accordion color="#376BCA" title="{{ item.title }}" expanded=0>
              <ion-list>
                <ion-item *ngFor="let teacher of item.teacherList">
                  <ion-grid text-wrap>
                    <ion-row text-center [ngStyle]="{
                      background: teacher.isDone ? '#32db64' : '#f4f4f4'
                    }">
                      <ion-col col-6>
                        {{ teacher.teacher.subject }}
                      </ion-col>
                      <ion-col col-6>{{ teacher.teacher.name }}</ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-list>
            </ion-card-accordion>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-card-accordion>
</ion-content>